body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  header {
    background-color: #6c757d;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  section {
    background-color: #e9ecef;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h1, h2 {
    color: #6c757d;
  }
  
  p {
    color: #495057;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  